@import "tailwindcss";
@import "react-quill-new/dist/quill.snow.css" layer(base);

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Quill Editor Styles */
@layer components {
  .quill-editor-wrapper {
    @apply flex flex-col;
  }
  .quill-editor-wrapper.h-full {
    @apply h-full;
  }
  .quill-editor-wrapper.h-full .quill,
  .quill-editor-wrapper.h-full .ql-container {
    @apply flex-1 flex flex-col min-h-0;
  }
  .quill-editor-wrapper .ql-container {
    @apply border-none text-[0.8125rem] font-mono;
  }
  .quill-editor-wrapper .ql-editor {
    @apply py-3 px-4 overflow-y-auto! h-auto!;
  }
  .quill-editor-wrapper.h-full .ql-editor {
    @apply flex-1 min-h-0 h-0!;
  }
  .quill-editor-wrapper .ql-editor.ql-blank::before {
    @apply text-foreground opacity-50 not-italic;
  }
  .quill-editor-wrapper .ql-toolbar {
    @apply hidden;
  }
}


